<div class="row">
  <div class="col-sm-6">
    <h2>Todo</h2>
  </div>

  <div class="col-sm-6">
    <button type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#addWorkItem">
      Add Work Item
    </button>
  </div>
  <div class="col-sm-6">
    <div data-ng-show="showAlert" class="alert {{ alertType }}" ng-class="{fade:doAlertFade }">
      <strong> {{alertMessage}} </strong>
    </div>
  </div>
</div>

<br>
<br>
<div class="row">
  <div class="col-sm-4 text-center">
    <p class="lead text-uppercase text-muted">
      <b>on backlog</b>
    </p>
    <ul class="list-unstyled">
      <li ng-repeat="workItem in workItemsOnBackLog">
        <its-work-item model=workItem
                       panel-class="panel-default"
                       on-status-change="moveWorkItemToColumn(workItemNumber,status, direction)"
                       on-remove=removeWorkItem(workItem.number)
                       on-complete="completeWorkItem(workItem.number)"
                       on-remove-user="removeUserFromWorkItem(workItemNumber,userNumber)"
                       on-add-user="addUserToWorkItem(workItem,userNumber)"/>
      </li>
    </ul>
  </div>

  <div class="col-sm-4 text-center">
    <p class="lead text-uppercase text-info">
      <b>in progress</b>
    </p>
    <ul class="list-unstyled">
      <li ng-repeat="workItem in workItemsInProgress">
        <its-work-item model=workItem
                       panel-class="panel-primary"
                       on-status-change="moveWorkItemToColumn(workItemNumber,status, direction)"
                       on-remove=removeWorkItem(workItem.number)
                       on-complete="completeWorkItem(workItem.number)"
                       on-remove-user="removeUserFromWorkItem(workItemNumber,userNumber)"
                       on-add-user="addUserToWorkItem(workItem,userNumber)"/>
      </li>
    </ul>
  </div>

  <div class="col-sm-4 text-center">
    <p class="lead text-uppercase text-success">
      <b>completed</b>
    </p>
    <ul class="list-unstyled">
      <li ng-repeat="workItem in workItemsDone">
        <its-work-item model=workItem
                       panel-class="panel-success"
                       on-status-change="moveWorkItemToColumn(workItemNumber,status, direction)"
                       on-remove=removeWorkItem(workItem.number)
                       on-complete="completeWorkItem(workItem.number)"
                       on-remove-user="removeUserFromWorkItem(workItemNumber,userNumber)"
                       on-add-user="addUserToWorkItem(workItem,userNumber)"/>
      </li>
    </ul>
  </div>
</div>


<div class="modal fade" id="addWorkItem" tabindex="-1" role="dialog"
     aria-labelledby="addWorkItemLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Work Item</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">

            <label for="inputWorkItemNumber" class="control-label col-xs-2">Number</label>

            <div class="col-xs-10">
              <input type="number" ng-model="newWorkItem.number"
                     class="form-control" id="inputWorkItemNumber"
                     placeholder="Work Item Number">
            </div>

            <label for="inputWorkItemDescription"
                   class="control-label col-xs-2">Description</label>

            <div class="col-xs-10">
              <input type="text" ng-model="newWorkItem.description"
                     class="form-control" id="inputWorkItemDescription"
                     placeholder="Work Item Description">
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="addWorkItem()"
                data-dismiss="modal">Add
        </button>
      </div>
    </div>

  </div>
</div>
