<div class="row">
	<div>
		<h2>WorkItems</h2>
	</div>
	<div> <b>On backlog</b>
		<ul class="list-unstyled">
			<div class='col-sm-4'>
				<li ng-repeat="workItem in workItems" >
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class='panel-title'>{{workItem.description}}</h4>
						</div>
						<div class="panel-body">
							<p>
								<ul><li ng-repeat="user in workItem.users" ></li></ul>
							</p>
						</div>
						<div class='panel-footer'>
							<a class='btn btn-danger' href='#'>X</a>
						</div>
					</div>
				</li>
			</div>
		</ul>
	</div>
	<div> <b>In progress</b>
		<ul class="list-unstyled">
			<div class='col-sm-4'>
				<li ng-repeat="workItem in workItems" >
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h4 class='panel-title'>{{workItem.description}}</h4>
						</div>
						<div class="panel-body">
							<p>
								{{workItem.description}}
							</p>
						</div>
						<div class='panel-footer'>
							<a class='btn btn-danger' href='#'>X</a>
						</div>
					</div>
				</li>
			</div>
		</ul>
	</div>
	<div> <b>Completed</b>
		<ul class="list-unstyled">
			<div class='col-sm-4'>
				<li ng-repeat="workItem in workItems" >
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class='panel-title'>{{workItem.description}}</h4>
						</div>
						<div class="panel-body">
							<p>
								{{workItem.description}}
							</p>
						</div>
						<div class='panel-footer'>
							<a class='btn btn-danger' href='#'>X</a>
						</div>
					</div>
				</li>
			</div>
		</ul>
	</div>
</div>
</div>