<div class="row">
	<div><h2>WorkItems</h2></div>
	<div class="col-md-4">
		<b>On backlog</b>
			<ul class="list-inline">
				<li ng-repeat="workItem in workItems">
					<div class="row">
						<div class="col-md-10">
						{{workItem.description}}
						</div>
						<div class="col-md-10">
							{{workItem.quantity}}
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<b>In progress</b>
				<ul>
					<li>

					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<b>Completed</b>
					<ul>
						<li>

						</li>
				</ul>
		</div>
</div>