<div class="row">
	<h2 class="text-primary">Trello</h2>
</div>
<div class="row">
	<p class="lead text-uppercase text-muted"> 
		<b>on backlog</b>
	</p>
</div>
<div class="row">
	<div class='col-sm-4'>
		<ul class="list-unstyled">
			<li ng-repeat="workItem in workItems" >
				<div class="panel panel-primary">
					<div class="panel-heading">

						<a class='btn btn-xs btn-danger pull-right' href='#'>X</a>
						<h4 class='panel-title'>{{workItem.description}}</h4>
					</div>
					<div class="panel-body">
						<strong class="pull-left">owners</strong>
						<div class="pull-right">
							<div class="dropdown pull-left">
								<button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown">
									add
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Arvid Karlsdotter</a></li>
									<li><a href="#">Britt Marie Don Huerta</a></li>
									<li><a href="#">Majvid Kalashnikorv</a></li>
								</ul>
							</div>

							<div class="dropdown pull-left">
								<button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown">
									remove
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Arvid Karlsdotter</a></li>
									<li><a href="#">Britt Marie Don Huerta</a></li>
									<li><a href="#">Majvid Kalashnikorv</a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix"></div>

						<p>
							<div>
								<ul class="list-inline">
									<li ng-repeat="user in workItem.users" >{{user.firstname}}</li>
								</ul>
							</div>
						</p>
					</div>
					<a class='btn btn-default btn-block btn-xs' href='#'>&#10003; mark done</a>
				</div>
			</li>
		</ul>
	</div>
</div>
</div>