<div class="panel {{panelClass}}">
  <div class="panel-heading">
    <a class='pull-right cursor-pointer' ng-click="removeWorkItem()"
       style="position: relative; top: -5px; right: -9px; font-size: 90%;">
      <div class="glyphicon glyphicon-remove color-mutedgreen"></div>
    </a>
    <h4 class='panel-title'>{{workItem.description}}</h4>
  </div>
  <div class="panel-body">
    <strong class="pull-left text-lowercase text-muted text-xs-right">owners</strong>

    <div class="dropdown pull-left margin-left-15px">
      <button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        add
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="userInList in availableUsers">
          <a ng-click="addUser(userInList)">{{userInList.firstname + ' ' + userInList.lastname}}</a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="margin-bottom-15px" ng-show="workItem.users.length > 0"></div>
    <div>
      <ul class="list-group list-inline margin-bottom-0px">
        <div class="btn-group btn-group-xs margin-right-5px margin-bottom-5px" ng-repeat="user in workItem.users">
          <button type="button" class="btn">{{user.firstname}}</button>
          <button type="button" class='btn' ng-click='removeUser($index)'>
            <div class="glyphicon glyphicon-remove text-muted"></div>
          </button>
        </div>
      </ul>
    </div>
  </div>
  <div style="width:100%" class="btn-group" role="group">
    <button style="width:50%" ng-disabled="workItem.status == 'ON_BACKLOG'" class='btn btn-default btn-xs' ng-click="moveLeft(workItem.status)">
      <span ng-hide="workItem.status == 'ON_BACKLOG'" class="glyphicon glyphicon-chevron-left glyphicon-align-right text-muted" aria-hidden="true"></span>&nbsp;
    </button>
    <button style="width:50%" ng-disabled="workItem.status == 'DONE'" class='btn btn-default btn-xs' ng-click="moveRight(workItem.status)">
      <span ng-hide="workItem.status == 'DONE'" class="glyphicon glyphicon-chevron-right glyphicon-align-right text-muted" aria-hidden="true"></span>&nbsp;
    </button>
  </div>
</div>
