<div class="panel panel-success">
  <div class="panel-heading">
    <a class='btn btn-xs btn-danger pull-right' ng-click="removeWorkItem()">X</a>
    <h4 class='panel-title'>{{workItem.description}}</h4>
  </div>
  <div class="panel-body">
    <strong class="pull-left">owners</strong>

    <div class="dropdown pull-left margin-left-5px">
      <button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        add
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="userInlist in allUsers">{{userInlist.firstname}}</li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="margin-bottom-15px" ng-show="workItem.users.length > 0"></div>
    <div>
      <ul class="list-group list-inline margin-bottom-0px">
        <div class="btn-group btn-group-xs margin-right-5px margin-bottom-5px" ng-repeat="user in workItem.users">
          <button type="button" class="btn">{{user.firstname}}</button>
          <button type="button" class='btn' ng-click='removeUser()'>x</button>
        </div>

      </ul>
    </div>
  </div>
  <a ng-show="workItem.status == 'IN_PROGRESS'"class='btn btn-default btn-block btn-xs' href='#'>&#10003; mark done</a>
</div>
